*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
  font-size:14px;
	color:#666;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
border-bottom:1px solid #ddd;
box-shadow: 0 2px 4px rgba(220, 218, 216, 0.75);
margin:0 auto;
background: lightBlue;
background-color: #25B0F8;
text-shadow:0 1px 1px #aaa;
}

#header a:hover, #header a:focus {
text-decoration:none;
}

#banner {
margin:0 auto;
width:960px;
}

#logo {
width:30%;
margin-bottom:0;
padding:0 10px 0;
float:left;
}

h1.title {
font-size: 40px;
margin: 0;
padding: 0;
}

h1.title a, h1.title a:hover  {
color: #666;
text-decoration:none;
}

#login-area {
font-size:1.2em;
margin: 20px 10px 0 0;
float:right;
}

#login-area ul {
list-style: none;
display:inline;
font-size:1.1em;
}

#login-area ul li{
display:inline;
padding:2px;
margin-left:5px;
}

#nav {
width:60%;
clear:left;
margin-top:-5px;
margin-bottom:10px;
}

#login-area ul, #nav ul {
list-style: none;
display:inline;
}

#nav ul li {
display:inline;
padding:2px;
margin-left:13px;
font-size:1.2em;
}

#wrapper {
    margin: 0 auto;
}
#main {
background: #FFF;
}
/* The todo items are grouped into an UL unordered list */

ul.todoList {
	width:450px;
	position:relative;
   border-bottom: 1px dotted #AAAAAA;
  /*http://www.dustindiaz.com/min-height-fast-hack/*/
  min-height:200px;
  height:auto !important;
  height:200px;
  /*min-height:150px;
  min-height:90%;*/
}

.column-right ul.todoList {
    margin-bottom: 20px;
}

.column-right {
    margin-bottom: 20px;
}
.list-buttons .column-right {
  margin-bottom:0;
}


ul.todoList li {
	background-color:#F9F9F9;
	border:1px solid #EEEEEE;
	list-style:none;
	margin:6px;
	padding:6px 9px;
	position:relative;
	cursor:n-resize;

	/* CSS3 text shadow and rounded corners: */
	
	text-shadow:1px 1px 0 white;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

ul.todoList li:hover{
	border-color:#EEEEEE;
  cursor:default;
	
	/* CSS3 glow effect: */
	-moz-box-shadow:0 0 5px #A6E5FD;
	-webkit-box-shadow:0 0 5px #A6E5FD;
	box-shadow:0 0 5px #A6E5FD;
  -moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.public-list ul.todoList li:hover{
	border-color:#9be0f9;
	
	/* CSS3 glow effect: */
	-moz-box-shadow:0 0 5px #A6E5FD;
	-webkit-box-shadow:0 0 5px #A6E5FD;
	box-shadow:0 0 5px #A6E5FD;
}


ul.todoList li.break {
	background-color:#aaa;
}
.todo .text {
	color:#777777;
	font-size:1.4em;
}
.break .text {
color:#444;
text-shadow:none;
}
/* The edit and delete buttons */
.list-title .actions,
.todo .actions,
.break .actions {
	position:absolute;
	right:7px;
	top:6px;
}

.list-title .actions a,
.todo .actions a,
.break .actions a {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	float:left;
	text-indent:-9999px;
	margin:3px;
}

.list-title .actions a.edit,
.todo .actions a.edit,
.break .actions a.edit {
	background:url("../img/edit.png") no-repeat center center;
}

.list-title .actions a.delete, 
.todo .actions a.delete, 
.break .actions a.delete {
	background:url("../img/delete.png") no-repeat center center;
}

/* The edit textbox */

.todo input{
	border:1px solid #CCCCCC;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.725em;
	padding:3px 4px;
	width:250px;
}

/* The Save and Cancel edit links: */

.editTodo{
	display:inline;
	font-size:0.6em;
	padding-left:9px;
}

.editTodo a{
	font-weight:bold;
}

a.discardChanges{
	color:#C00 !important;
}

a.saveChanges{
	color:#4DB209 !important;
}

/* Overwriting some of the default jQuery UI styles */

.ui-button,.ui-dialog-titlebar{
	font-size:0.72em !important;
}

.ui-widget-header {
border: 1px solid #25B0F8;
background: #25B0F8;
background-image: none;
}

.ui-state-default, .ui-widget-content .ui-state-default {
border: 1px solid #25B0F8;
background-image: none;
}
.ui-widget-content {
border: 1px solid #25B0F8;
background-image: none;
}

#dialog-confirm{
	display:none;
	font-size:0.9em;
	padding:1em 1em 0;
}

#addButton {
margin:0 10px 40px 0;
}


/* Green button class: */

a.green-button, a.green-button:visited, .list-buttons li a, .list-buttons li a:visited {
border:1px solid #AAAAAA;
color:black;
display:block;
float:left;
font-size:10px;
font-weight:bold;
height:15px;
padding:6px 5px 4px;
text-shadow:1px 1px 1px #DDDDDD;
-moz-border-radius:3px;
    -webkit-border-radius:3px;
	border-radius:3px;
}



a.green-button:hover, .list-buttons li a:hover{
	text-decoration:none;
	background: #aaa;
  background:#EBE8E5;
  text-shadow:none;
}

/* Orange button class: */

a.orange-button, 
a.orange-button:visited {
border:1px solid #AAAAAA;
color:black;
display:block;
float:left;
font-size:10px;
font-weight:bold;
height:15px;
padding:6px 5px 4px;
text-shadow:1px 1px 1px #DDDDDD;
-moz-border-radius:3px;
    -webkit-border-radius:3px;
	border-radius:3px;
}

a, a:visited {
color:#0196E3;
color:#7EA107;
color:#777300;
outline:medium none;
text-decoration:none;
}

#header a, #header a:visited {
color:#fff;
}

a.orange-button:hover{
	text-decoration:none;
	background: #aaa;
  background:#EBE8E5;
  text-shadow:none;
}

div.buttons {
padding:20px 0 0 7px;
}

ul.inline, ul.inline li {
display:inline;
}




/* The styles below are only necessary for the styling of the demo page: */

#wrapper{
	position:relative;
	margin:0 auto;
	/*width:960px;*/
  margin-top:5px;

}

.workspace, .homepage-text-wrapper {
width:960px;
margin:0 auto;
}

.workspace {
margin-bottom:20px;
}

#homepage-text {
    background-color: #EBE8E5;
    border-bottom: 1px solid #DCDAD8;
    border-top: 1px solid #DCDAD8;
    box-shadow: 0 2px 4px rgba(220, 218, 216, 0.75) inset;
    margin-top: -1px;
    padding-bottom: 1.6429em;
}

h1 {
	padding:20px 10px;
	/*text-shadow:0 1px 1px white;*/
	margin-bottom:20px;
	font-size:26px;
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}



.homepage-text-wrapper h3 {
color: #7EA107;
color: #25B0F8;
}

.note{
  clear:both;
	font-size:12px;
	font-style:italic;
	padding:0 0 20px 10px;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

#save {
background:none repeat scroll 0 0 #334455;
border:1px solid #000000;
clear:right;
float:right;
font-size:2em;
margin-top:20px;
padding:5px 20px;
display:none;
}


.active-list {
clear:left;
margin:0;
padding:10px 10px 10px 13px;
width:45%;
}

.column-left {
clear:both;
float:left;
width:45%;
margin-bottom:20px;
}
.column-right {
float:right;
width:45%;
margin-right:10px;
}

#api-text .column-left {
width:35%;
}
#api-text .column-right {
width:55%;
}
/*Chengelog section*/
#changelog {
clear:both;
padding-top:15px;
border-top:1px solid #aaa
}

#changelog ul {
margin-left:15px;
}

#changelog h4 {
margin: 10px 0 8px 0;
}


.code-example {
clear:right;
}
.json {
padding-top:20px;
}

pre {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 0.9em;
    padding: 0 10px 10px;
}

h3.api-option {
font-size:1.2em;
color:#25B0F8;

}

h4.api-option {
font-size:1em;
margin-top:8px;
color:#F83E51;
}

.list-header {
display:none;
}

/*.list-header {
margin-right:-10px;
text-align:right;
}
.reserve {
text-align:right;
margin: 20px 10px 0 0;
}*/

ul.todoList li.notice {
  background-color:#fff;
	border:none;
	list-style:none;
	margin:0 0 0 10px;
	padding:0;
	position:relative;
	cursor:default;
  
	/* CSS3 text shadow and rounded corners: */
	text-shadow:none;
    -moz-border-radius:none;
    -webkit-border-radius:none;
	border-radius:none;
}
ul.todoList li.notice:hover{
	border:none;
  /* CSS3 glow effect: */
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#main {
min-height:400px;
}
#footer-wrapper {
clear:both;
border-top:1px solid #aaa;
min-height:60px;
background: -moz-linear-gradient(center top , #FCFCFC, #FCFAF8) repeat scroll 0 0 transparent;
font-size:0.95em;
}

#footer {
margin:0 auto;
width:960px;
padding:20px 10px;
}

#footer .column {
width:22%;
padding-right:3%;
float:left;
}

#print-footer {display:none;}

img.avatar {
border:2px solid #0974AB;
margin-right:5px;
/*padding:2px;*/
position:relative;
top:-2px;
vertical-align:top;
  -moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}



h4.list-title {
font-size:1.4em;
padding-left:20px;
background:url("../img/edit.png") no-repeat scroll left 2px transparent;
}
h4.public-list-title {
font-size:1.4em;
}

#edit-and-updated {
font-size:0.9em;
}

#sortable2 .todo .text {
color:#aaa;
background:#fff;
}
#sortable2 li.todo  {
background:#fff;
}
#sortable2 li.break {
background-color:#ddd;
}
#sortable2 .break .text {
color:#aaa;
background:#ddd;
}

/*Register and login forms*/
.description {
font-size:0.9em;
margin-left:13px;
text-align:justify;
width:290px;
}

 form.edit-list {
 margin:10px 0 15px 13px;
 width:400px;
 }
 
.field-container {
clear:left;
margin:5px 0 15px;
}

form.login label {
/*width:130px;*/
margin-left:13px;
float:left;
font-weight:bold;
}

form.import-form label {
width:80px;
float:left;
font-weight:bold;
}

form.import-form label.full-width {
float:none;
width:300px;
}

form.import-form input {
margin-left:0;
}

form.import-form input.list-radio {
margin:5px 5px 0 0;
vertical-align:-2px;
}

/*Password Strength*/
.pstrength-minchar {
font-size : 10px;
}

#pwd_bar,
#pwd_text,
#pwd_minchar {
width:180px;
margin-left:143px;
}

.new_pass #pwd_bar,
.new_pass #pwd_text,
.new_pass #pwd_minchar {
width:180px;
margin-left:177px;
}

form.new_pass label {
float:left;
font-weight:bold;
margin-left:13px;
width:150px;
}

.register {
clear:left;
margin: 15px 0 0 13px;
}

input.error {
border: 1px solid #f00;
}

.error-msg {
margin-left:143px;
}

input.confim {
border: 1px solid #666;
}

#account {
margin-top:-10px;
width:50%;
}
#account label {
font-weight:bold;
}
#account .description {
font-size:0.9em;
margin-left:0;
}

#account .error-msg {
margin-left:0;
}

#account #pwd_bar,
#account #pwd_text,
 #account #pwd_minchar {
width:180px;
margin-left:0;
}



p.notice {
margin-left:13px;
}
#all-lists {
float:left
}
select {
background-color:#FFFFFF;
border:2px solid #EEEEEE;
width:350px;
}
.list-buttons li a {
display:block;
float:left;
font-weight:bold;
height:15px;
padding:0;
margin:0 5px 5px;
font-size:1.2em;
}
.list-buttons {
clear:left;
float:left;
margin-top:-30px;
}
.errors {
background:none repeat scroll 0 0 yellow;
border:1px solid red;
font-size:1.1em;
margin:0 0 13px 13px;
padding:10px;
text-align:center;
width:50%;

-moz-border-radius: 5px;
border-radius: 5px;
}

.message {
background:none repeat scroll 0 0 #fff;
border:1px solid #0196E3;
font-size:1.1em;
margin:10px 0 20px 13px;
padding:10px;
width:50%;
font-size:0.9em;

-moz-border-radius: 5px;
border-radius: 5px;
}



/*User pages*/
.user-column-left {
clear:both;
float:left;
width:200px;
}
.user-column-right {
float:right;
width:750px;
margin-right:10px;
}

.user-column-left .avatar {
margin-left:10px;
}
.form-item {
padding:5px 0;
}
#account  label {
display:block;
}


/*Public view pages*/
.visibility {
float:right;
width:45%;
margin:20px 3px;
font-size:1.1em;
/*text-align:right;*/
}
.visibility .label {
font-weight: bold;
}

.not-public {
clear:both;
font-size:1.2em;
padding:20px 10px;
}



.make-public {
margin:4px 0;
vertical-align:middle;
}

.offline-message {
margin-left:13px;
}

.login {
font-size:1.2em;
}

.login select {
font-size:0.8em;
}

.login input {
margin-left:13px;
}

p.public {
letter-spacing:0.4em;
margin-left:13px;
}

.delete-account, .developers {
    border-top: 1px solid #EEEEEE;
    clear: both;
    padding: 20px 13px 20px 10px;
}

.delete-account input {
margin-top:15px;
}

.user-page-gravatar {
    margin-top: 44px;
    padding: 0 20px;
    float:right;
    border-left: 1px solid #0974AB;
}

.user_edit {
  float: left;
  padding-bottom: 60px;
  width: 770px;
}

.user_edit input {
    font-size: 1em;
    margin-left: 13px;
    width: 300px;
}

.user_edit input.form-submit {
width: 100px;
}

#homepage-text {
clear:both;
padding:10px;
border-top:1px solid #ddd;
padding-bottom:30px;

}
#homepage-text ul {
margin:15px;
}

.homepage-left {
width:400px;
}

#api-text {
clear:both;
margin-left:3px;
padding:10px;
}
#api-text ul {
margin:15px;
}

.not-found-message {
font-size:1.2em;
padding-left: 350px;
background: url(../img/404_cat.png) no-repeat 0 30px transparent;
height:420px;
padding-top:20px
}

.not-found-message h2 {
margin-left:0;
padding-top:50px;
}

.not-found-message p {
margin:8px 0;
}

.credit {
margin-top:155px;
font-size:0.9em;
}

.import-form {
margin:0 0 0 13px;
}

ul.import-help {
margin:10px 0 10px 33px;
}


/*New Form stuff*/


.field-container {
    clear: left;
    font-size: 2em;
    margin: 5px 0 15px;
}

.login input {
    margin-left: 13px;
    font-size: 1em;
}

form.login label {
    float: left;
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 13px;
    /*width: 160px;*/
}

.description {
    float: right;
    font-size: 0.4em;
    margin-right: 120px;
    text-align: justify;
    width: 280px;
    background: #eee;
    padding:10px;
    border: 1px solid #eee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}



#pwd_bar, #pwd_text, #pwd_minchar {
    margin-left: 13px;
    width: 250px;
}

#pwd_text {
    font-size: 0.8em;
}

.error-msg {
    font-size: 0.6em;
    margin-left: 13px;
}

#pwd_bar {
    max-width: 40%;
}

.api_demo {
text-align:left;
}
.api_demo td {
padding-right:10px;
}

ul.api_demo {
margin-left:30px;
}
h4.api_demo {
padding-top:10px;
}

.api_key {
    font-size: 1.8em;
    margin: 10px 0;
    color: #F83E4E;
}


/*New Design*/

h4.list-title {
font-size:1.4em;
padding-left:0;
background:none;
}

.list-buttons {
clear:left;
float:left;
margin:10px 0 0 8px;
width:100%;
}

.list-buttons li a {
display:block;
float:left;
font-weight:bold;
/*height:15px;*/
padding:10px 15px;
margin:0 5px 5px;
font-size:1em;
background: #fff;
padding: 2px 8px 3px 6px;
text-align: center;
width: 50px;
color:#000;
border:1px solid #aaa;
  -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.your_lists {
/*font-size:1.2em;*/
float:left;
width:75px;
margin-top:2px;
}
#list-of-lists select {
/*font-size:1.2em;*/
}



.active-list h2, h2.user-action {
font-size:1.8em;
padding-top:20px;
color:#0974AB;
}
.delete-account h3, .developers h3 {
color:#25B0F8;
}

option.public {
background: #C5BF0A;
}

h2.user-action {
margin-left:13px;
padding-bottom:10px;
}

/*Ajax show lists box*/
#list-container {
padding-top:33px;
}

/*Make list public/private*/
form.private, form.public {
font-size:0.9em;
}

/*Widget*/
#widget-text .column-left {
width:55%;
}
#widget-text .column-right {
width:35%;
}

.code-example {
clear:both;
margin-left:13px;
width:95%;
}
pre {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 0.9em;
    padding: 0 10px 10px;
}

#widget-text {
clear:both;
margin-left:3px;
padding:10px;
}
#widget-text ul {
margin:15px;
}
#setlistr-widget-container {
    background: none repeat scroll 0 0 #25B0F8;
    border: 1px solid #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
}
/*
 * h2.user-action {
font-size:1.8em;
font-weight:bold;
}
h2.user-action {
position:relative;
right:0;
top:0;
padding:20px 0 10px 0;
clear:both;
font-size:26px;
margin-left:13px;
}
* */
